html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(229, 231, 226, 0.3)), to(rgba(118, 102, 247, 0.5))), url(img/bg4.jpg);
  background-image: linear-gradient(to right bottom, rgba(229, 231, 226, 0.3), rgba(118, 102, 247, 0.5)), url(img/bg4.jpg);
  background-position: center;
  background-size: cover;
}

header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(229, 231, 226, 0.3)), to(rgba(118, 102, 247, 0.5))), url(img/banner.jpeg);
  background-image: linear-gradient(to right bottom, rgba(229, 231, 226, 0.3), rgba(118, 102, 247, 0.5)), url(img/banner.jpeg);
  background-size: cover;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Times New Roman";
}

.header-title {
  font-size: 10rem;
  color: #e5e7e2;
  margin: 0;
  letter-spacing: 2rem;
  padding-bottom: 2rem;
}

.header-sub {
  letter-spacing: 1rem;
  font-style: italic;
  margin: 0;
  font-size: 2rem;
  color: #e5e7e2;
}

#navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f598b3;
}

.navbar-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar-li {
  font-family: "Quicksand";
  padding: 3rem 6rem;
  list-style-type: none;
  font-size: 2.5rem;
  color: #e5e7e2;
  font-style: italic;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #e5e7e2;
}

a:hover {
  color: beige;
}

.container {
  width: 75vw;
  margin: auto;
}

.box-entry {
  background-color: #edb4f6;
  height: auto;
  margin: 8rem;
  border-radius: 2rem;
  opacity: 0.85;
  padding: 5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #f598b3;
}

.footer-box {
  width: 30vh;
  height: 25vh;
  margin: 5rem 10rem;
}

.footer-heading {
  color: #e5e7e2;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 2rem;
}

.footer-text {
  color: #e5e7e2;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 2rem;
}

#newsletter-form {
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #e5e7e2;
  border-radius: 0.3rem;
}

#newsletter-button {
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border: none;
  border-radius: 0.3rem;
  background-color: #7666f7;
  color: #e5e7e2;
}

.bold {
  font-weight: bold;
}

.entry-heading {
  font-family: "Quicksand";
  color: #7666f7;
  margin: 0.5rem;
  font-size: 4rem;
  font-style: italic;
}

.entry-text {
  font-family: "Quicksand";
  font-weight: bold;
  color: #e5e7e2;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #830fec;
}

.spaced-out {
  letter-spacing: 1rem;
  margin-left: 1rem;
}

.box-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 3rem;
}

#aesthetic-img {
  max-width: 50%;
}

.more {
  font-size: 3rem;
  font-family: "Quicksand";
  color: #830fec;
  text-align: center;
  margin: 0;
  font-style: italic;
}

.videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/*# sourceMappingURL=style.css.map */