@import "_variables.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  //background-color: color(marble);
  background-image: linear-gradient(
      to right bottom,
      rgba(color(marble), 0.3),
      rgba(color(vblue), 0.5)
    ),
    url(img/bg4.jpg);
  background-position: center;
  background-size: cover;
}

header {
  background-image: linear-gradient(
      to right bottom,
      rgba(color(marble), 0.3),
      rgba(color(vblue), 0.5)
    ),
    url(img/banner.jpeg);
  background-size: cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: font(tnr);
}

.header-title {
  font-size: 10rem;
  color: color(marble);
  margin: 0;
  letter-spacing: 2rem;
  padding-bottom: 2rem;
}

.header-sub {
  letter-spacing: 1rem;
  font-style: italic;
  margin: 0;
  font-size: 2rem;
  color: color(marble);
}

#navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: color(vrose);
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar-li {
  font-family: font(main);
  padding: 3rem 6rem;
  list-style-type: none;
  font-size: 2.5rem;
  color: color(marble);
  font-style: italic;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: color(marble);
}

a:hover {
  color: beige;
}

.container {
  width: 75vw;
  margin: auto;
}

.box-entry {
  background-color: color(vpink);
  height: auto;
  margin: 8rem;
  border-radius: 2rem;
  opacity: 0.85;
  padding: 5rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: color(vrose);
}

.footer-box {
  //background: blue; //to check sizing
  width: 30vh;
  height: 25vh;
  margin: 5rem 10rem;
}

.footer-heading {
  color: color(marble);
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 2rem;
}

.footer-text {
  color: color(marble);
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 2rem;
}

#newsletter-form {
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  border: none;
  background-color: color(marble);
  border-radius: 0.3rem;
}

#newsletter-button {
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  border: none;
  border-radius: 0.3rem;

  background-color: color(vblue);
  color: color(marble);
}

.bold {
  font-weight: bold;
}

.entry-heading {
  font-family: font(main);
  color: color(vblue);
  margin: 0.5rem;
  font-size: 4rem;
  font-style: italic;
}

.entry-text {
  font-family: font(main);
  font-weight: bold;
  color: color(marble);
  margin-top: 2rem;
  font-size: 2.5rem;
  text-shadow: 0.1rem 0.1rem 0.1rem color(vviolet);
}

.spaced-out {
  letter-spacing: 1rem;
  margin-left: 1rem;
}

.box-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 3rem;
}

#aesthetic-img {
  max-width: 50%;
}

.more {
  font-size: 3rem;
  font-family: font(main);
  color: color(vviolet);
  text-align: center;
  margin: 0;
  font-style: italic;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
  justify-content: center;
}
